html {
  box-sizing: border-box;
  width: 1600px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primery-text-color: #212121;
  --secondary-text-color: #757575;
  --third-text-color: #ffffff;
  --changing-text-color: #2196f3;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  color: var(--primery-text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /*outline: 1px solid red;*/
}

.header {
  display: flex;
  align-items: center;
}

.top-header {
  border: 1px solid #ececec;
  padding-top: 25px;
  padding-bottom: 25px;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.logo {
  display: inline-block;
  flex-direction: column;
  justify-content: start;
  margin-right: 85px;
  color: #000000;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.first-logo {
  color: var(--changing-text-color);
}

.menu-nav {
  display: flex;
  padding-left: 0;
}

.menu-nav .link {
  color: var(--primery-text-color);
  text-decoration: none;
  font-weight: 500;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav .link-activ {
  color: var(--changing-text-color);
  text-decoration: none;
  font-weight: 500;
}

.menu-list > .link-activ {
  position: relative;
}

.menu-list > .link-activ::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--changing-text-color);
  border-radius: 2px;
  bottom: -33px;
  left: 0;
}

.menu-list:not(:last-child) {
  margin-right: 50px;
}

.menu-nav .link:hover,
.menu-nav .link:focus {
  color: var(--changing-text-color);
}

.menu-nav .link.current {
  color: var(--changing-text-color);
}

.menu-address {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 0;
}

.menu-address .link {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
  fill: var(--secondary-text-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-address .link:hover,
.menu-address .link:focus {
  color: var(--changing-text-color);
  fill: var(--changing-text-color);
}

.menu-address > .mail-link {
  display: flex;
  align-items: center;
  width: 161px;
  height: 16px;
  margin-right: 30px;
}

.envelopemail {
  display: flex;
  margin-right: 10px;
}

.email-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.phone-link {
  display: inline-flex;
  width: 161px;
  height: 16px;
  align-items: center;
}

.hero > .hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  text-align: center;
  /*outline: 1px solid red;*/
  color: var(--third-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/hero-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero > .button {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  border: 1px solid transparent;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.section {
  padding-bottom: 94px;
}

.section .section-qualities {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
}

.qualities-item {
  width: calc((100% - 30px * 3) / 4);
  height: 251px;
}

.qualities-item:not(:last-child) {
  margin-right: 30px;
}

.qualities-item.details::before {
  display: block;
  content: "";
  height: 120px;
  background-color: #f5f4fa;
  background-image: url(../image/antenna-1.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.qualities-item.punctuality::before {
  display: block;
  content: "";
  height: 120px;
  background-color: #f5f4fa;
  background-image: url(../image/clock-1.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.qualities-item.planning::before {
  display: block;
  content: "";
  height: 120px;
  background-color: #f5f4fa;
  background-image: url(../image/diagram-1.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.qualities-item.technology::before {
  display: block;
  content: "";
  height: 120px;
  background-color: #f5f4fa;
  background-image: url(../image/astronaut-1.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.section .section-qualities h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  align-items: start;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section .section-qualities p {
  margin-top: 0;
  margin-bottom: 0;
  align-items: start;
  color: var(--secondary-text-color);
  line-height: 24px;
  letter-spacing: 0.03em;
}

.qualities-padding {
  padding-top: 94px;
}

.section .section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.section .section-activity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
}

.activity-item {
  position: relative;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: calc((100% - 30px * 2) / 3);
  display: inline-block;
}

.activity-item:not(:last-child) {
  margin-right: 30px;
}

.section .section-activity h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  padding-top: 27px;
  padding-bottom: 27px;
  margin-top: 0;
  margin-bottom: 0;
  width: 370px;
  background: rgba(47, 48, 58, 0.8);
  color: var(--third-text-color);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section.field {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}

.section .section-command {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}

.command-photo {
  width: 270px;
  height: 260px;
}

.command-list {
  align-items: center;
  padding-bottom: 24px;
  width: calc((100% - 30px * 3) / 4);
  background: var(--third-text-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.command-list:not(:last-child) {
  margin-right: 30px;
}

.section .section-command h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

.section .section-command p {
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

.social {
  display: flex;
  padding-left: 0;
  margin-left: 32px;
  width: 206px;
}

.social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: var(--third-text-color);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-block {
  display: inline-flex;
}

.social-block:not(:last-child) {
  margin-right: 10px;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--changing-text-color);
  fill: var(--third-text-color);
}

.social-icon {
  display: inline-flex;
  width: 20px;
  height: 20px;
}

.clients {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
}

.clients-list:not(:last-child) {
  margin-right: 30px;
}

/* .clients-list.one {
  padding: 20px 63px;
}

.clients-list.two {
  padding: 19px 65px;
}

.clients-list.three {
  padding: 24px 64px;
}

.clients-list.four {
  padding: 24px 45px;
}

.clients-list.five {
  padding: 21px 55px;
}

.clients-list.six {
  padding: 22px 40px;
} */

.logo-link {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-link:hover,
.logo-link:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  fill: var(--changing-text-color);
}

.logo-1 {
  display: flex;
  background-repeat: no-repeat;
  align-items: center;
}

.clients-padding {
  padding-top: 94px;
}

.backdrop {
  position: fixed;
  opacity: 1;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: 1500ms linear;
}

.modal {
  position: absolute;
  width: 100%;
  max-width: 528px;
  min-height: 581px;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  padding: 6px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus,
.modal-close:active {
  fill: var(--changing-text-color);
  outline: none;
}

.modal > h2 {
  display: flex;
  justify-content: flex-start;
  margin-top: 0;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal .modal-box {
}

.modal .modal-box:not(:last-child) {
  margin-bottom: 10px;
}

.comment-box {
  margin-bottom: 20px;
}

.modal .modal-label {
  display: block;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.box-icon {
  position: relative;
}

.modal .modal-input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 12px 0 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  fill: var(--primery-text-color);
  outline: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .modal-input:focus,
.modal .modal-input:active {
  border-color: var(--changing-text-color);
  box-sizing: border-box;
  border-radius: 4px;
}

.modal .modal-input:focus + .person-icon,
.modal .modal-input:active + .person-icon {
  fill: var(--changing-text-color);
}

.modal .modal-input:focus + .phone-icon,
.modal .modal-input:active + .phone-icon {
  fill: var(--changing-text-color);
}

.modal .modal-input:focus + .email-icon,
.modal .modal-input:active + .email-icon {
  fill: var(--changing-text-color);
}

.person-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  padding: 3px;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.phone-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  padding: 2.5px;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.email-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  padding: 1.5px 3px;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.person-icon > .person-black {
  display: inline-flex;
  width: 12px;
  height: 12px;
}

.phone-icon > .phone-black {
  display: inline-flex;
  width: 13px;
  height: 13px;
}

.email-icon > .email-black {
  display: inline-flex;
  width: 15px;
  height: 12px;
}

.modal .modal-comment {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-comment:focus,
.modal-comment:active {
  outline: none;
  border-color: var(--changing-text-color);
}

.modal-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-left: 12px;
}

.modal-checkbox > .contract-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.modal-checkbox > .contract-label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.contract-input + .contract-label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contract-input + .contract-label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 1px solid var(--primery-text-color);
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-position: center center;
}

.contract-input:checked + .contract-label::before {
  border-color: var(--changing-text-color);
  background-color: var(--changing-text-color);
  background-image: url(../image/checkbox.svg);
}

.contract-label > .contract-label-text {
  color: var(--changing-text-color);
}

.modal .modal-button {
  display: inline-flex;
  align-items: center;
  min-width: 200px;
  height: 50px;
  padding: 10px 55px;
  margin-left: 124px;
  border-radius: 4px;
  border: 1px solid transparent;
  color: var(--third-text-color);
  background-color: var(--changing-text-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .modal-button:hover {
  background-color: #188ce8;
}

.close {
  display: flex;
  width: 18px;
  height: 18px;
  padding-right: 2px;
}

.footer {
  background: #2f303a;
  color: var(--third-text-color);
}

.footer-box {
  display: flex;
  align-items: baseline;
  justify-content: start;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  flex-direction: column;
  justify-content: start;
  margin-right: 30px;
  width: 270px;
}

.footer .address {
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.footer .footer-logo {
  display: inline-flex;
  margin-bottom: 20px;
  color: var(--third-text-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.footer-address {
  padding-left: 0;
}

.footer-address .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address .link:hover,
.footer-address .link:focus {
  color: var(--changing-text-color);
}

.address-mail {
  margin-top: 9px;
  margin-bottom: 9px;
}

.call {
  margin-right: 30px;
  width: 270px;
}

.footer .call b {
  display: inline-flex;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.social-footer-link {
  display: inline-flex;
}

.social-footer-link:not(:last-child) {
  margin-right: 10px;
}

.call-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: var(--third-text-color);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* .call-link:hover,
.call-link:focus {
  background-color: var(--changing-text-color);
}

.inst {
  background-image: url(../image/instagram-1.svg);
}

.twit {
  background-image: url(../image/twitter-1.svg);
}

.face {
  background-image: url(../image/facebook-1.svg);
}

.linked {
  background-image: url(../image/linkedin-1.svg);
} */

.call-link:not(:last-child) {
  margin-right: 10px;
}

.call-link:hover,
.call-link:focus {
  background-color: var(--changing-text-color);
}

.call-icon {
  display: inline-flex;
  width: 20px;
  height: 20px;
  fill: var(--third-text-color);
}

.inst {
}

.social-footer {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 0;
  width: 206px;
}

.subscription b {
  display: inline-flex;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.mailing {
  display: flex;
}

.mailing > p {
  display: inline-flex;
  margin-right: 12px;
}

.subscription-label {
  display: block;
}

.subscription-input {
  margin-right: 12px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  background: transparent;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-input::placeholder {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-button {
  background: var(--changing-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-button p {
  color: var(--third-text-color);
  font-size: 16px;
}

.button {
  display: inline-flex;
  align-items: center;
  min-width: 200px;
  height: 50px;
  padding: 10px 28px;
  border-radius: 4px;
  border: 1px solid transparent;
  color: var(--third-text-color);
  background-color: var(--changing-text-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.button::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;

  background-image: url(../image/icon-send.png);
  background-size: contain;
}

/* Portfolio */

.top-margin {
  margin-bottom: 0;
  padding-top: 94px;
}

.section-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  padding-left: 0;
  margin-bottom: 50px;
}

.filter {
  display: inline-block;
  min-width: 73px;
  height: 38px;
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;
}

.filter-link {
}

.filter-link:not(:last-child) {
  margin-right: 8px;
}

.section .section-filter .link {
  color: var(--primery-text-color);
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section .section-filter .link:hover,
.section .section-filter .link:focus,
.section .section-filter .link:active {
  color: var(--third-text-color);
  background: var(--changing-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section .section-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding-left: 0;
}

.group-list {
  width: calc(((100% - 30px * 2) / 3));
}

.group-list:not(:nth-child(3n)) {
  margin-right: 30px;
}

.group-list:nth-child(-n + 6) {
  margin-bottom: 30px;
}

.content-box {
  display: block;
  padding: 20px 24px;
}

.web-sites {
  display: block;
  width: 100%;
  height: 100%;
  color: var(--primery-text-color);
  border: 1px solid #eeeeee;
  box-sizing: content-box;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.web-sites:hover,
.web-sites:focus,
.web-sites:active {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.section .section-group .link h3 {
  display: block;
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
}

.section .section-group > .group-list .text {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}

.photo {
  display: block;
  width: 100%;
  height: 100%;
}

.group-list-box {
  position: relative;
  width: 100%;
  height: 294px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 370px;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms ease;
}

.overlay > .technokryack {
  color: #ffffff;
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
}

.web-sites:hover .overlay {
  transform: translatey(0);
}
