.section .section-qualities {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
}

.qualities-item {
  width: calc((100% - 30px * 3) / 4);
  height: 251px;
}

.qualities-item:not(:last-child) {
  margin-right: 30px;
}

.qualities-item.details::before {
  display: block;
  content: "";
  height: 120px;
  background-color: #f5f4fa;
  background-image: url(../image/antenna-1.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.qualities-item.punctuality::before {
  display: block;
  content: "";
  height: 120px;
  background-color: #f5f4fa;
  background-image: url(../image/clock-1.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.qualities-item.planning::before {
  display: block;
  content: "";
  height: 120px;
  background-color: #f5f4fa;
  background-image: url(../image/diagram-1.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.qualities-item.technology::before {
  display: block;
  content: "";
  height: 120px;
  background-color: #f5f4fa;
  background-image: url(../image/astronaut-1.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.section .section-qualities h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  align-items: start;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section .section-qualities p {
  margin-top: 0;
  margin-bottom: 0;
  align-items: start;
  color: $secondary-text-color;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.qualities-padding {
  padding-top: 94px;
}

.section .section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.section .section-activity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
}

.activity-item {
  position: relative;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: calc((100% - 30px * 2) / 3);
  display: inline-block;
}

.activity-item:not(:last-child) {
  margin-right: 30px;
}

.section .section-activity h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  padding-top: 27px;
  padding-bottom: 27px;
  margin-top: 0;
  margin-bottom: 0;
  width: 370px;
  background: rgba(47, 48, 58, 0.8);
  color: $third-text-color;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section.field {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}

.section .section-command {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}

.command-photo {
  width: 270px;
  height: 260px;
}

.command-list {
  align-items: center;
  padding-bottom: 24px;
  width: calc((100% - 30px * 3) / 4);
  background: $third-text-color;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.command-list:not(:last-child) {
  margin-right: 30px;
}

.section .section-command h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

.section .section-command p {
  margin-top: 0;
  margin-bottom: 16px;
  color: $secondary-text-color;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

.social {
  display: flex;
  padding-left: 0;
  margin-left: 32px;
  width: 206px;
}

.social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: $third-text-color;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $changing-text-color;
    fill: var(--third-text-color);
  }
}

.social-block {
  display: inline-flex;
}

.social-block:not(:last-child) {
  margin-right: 10px;
}

.social-icon {
  display: inline-flex;
  width: 20px;
  height: 20px;
}

.clients {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
}

.clients-list:not(:last-child) {
  margin-right: 30px;
}

.logo-link {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid #2196f3;
    border-radius: 4px;
    fill: $changing-text-color;
  }
}

.logo-1 {
  display: flex;
  background-repeat: no-repeat;
  align-items: center;
}

.clients-padding {
  padding-top: 94px;
}
